@using  MVC_PartialView.ViewModel;
@model PeopleViewModel
@*Styling div *@
<style>


    .column {
        float: left;
        width: 20%;
        text-align: center;
        position: relative;
    }

    .column1 {
        float: left;
        width: 5%;
        text-align: left;
    }


    .row:after {
        content: "";
        display: table;
        clear: both;
        border-bottom: 1px solid #d4d2d2;
    }
</style>


@* Creating list using div *@


<div class="row">
    <div class="column1" style="background-color:#ddd;">
        <h4>@Model.Id</h4>
    </div>
    <div class="column1" style="background-color:#ddd;">
        <h4><a href="/deleteUser/@Model.Id">Delete</a></h4>


    </div>

    <div class="column" style="background-color: #ddd;">
        <h4>@Model.Name</h4>

    </div>
    <div class="column" style="background-color:#ddd;">
        <h4>@Model.PhoneNum</h4>
    </div>
    <div class="column" style="background-color:#ddd;">
        <h4>@Model.City</h4>

    </div>
</div>
















