@using MVC_PartialView.ViewModel;
@model IEnumerable<PersonViewModel>

@{
    ViewBag.Title = "People_IndexPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <button id="loadAllBtn" class="col-md-12 btn btn-secondary" type="button" onclick="GetList()">Load all</button>
        <div id="loadByIdContainer" class="col-md-12">
            <input id="personIdInput" type="number" class="col-md-2" placeholder="enter person id">
            <button class="btn btn-secondary col-md-10" onclick="GetPerson()">Load by Id</button>
        </div>
    </div>
    <div id="peopleContainer"></div>
</div>

<style>
    #loadByIdContainer{
        margin-bottom: 20px;
        padding: 0;
    }
    
    #loadByIdContainer>*{
        height: 100%;
        clear: none;
        float: left;
    }
    
    #loadAllBtn{
        margin-bottom: 3px;
    }
    
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        white-space: nowrap;
        line-height: 60px; /* Vertically center the text there */
    }
</style>